<section id="footer">
    <div class="container">
        <div class="logo-area">
            Finnie Wallet <a class="logo-icon" href="/">by Koii</a>
        </div>
        <div class="embed-area">

        </div>
        <div class="social-area">
            <div class="sc-item">
                <a href="https://twitter.com/KoiiNetwork" target="_blank"><img src="/img/social/tw.svg"></a>
            </div>
            <div class="sc-item">
                <a href="https://discord.gg/koii" target="_blank"><img src="/img/social/discord.svg"></a>
            </div>
            <div class="sc-item">
                <a href="https://t.me/koiinetwork" target="_blank"><img src="/img/social/telegram.svg"></a>
            </div>
            <div class="sc-item">
                <a href="https://github.com/koii-network/" target="_blank"><img src="/img/social/github.svg"></a>
            </div>
            <!-- <div class="sc-item">
                <a href="https://www.linkedin.com/company/open-koi/" target="_blank"><img src="/img/social/li.svg"></a>
            </div> -->
            <!-- <div class="sc-item">
                <a href="https://www.youtube.com/watch?v=g0sT-0NqWUY" target="_blank"><img src="/img/social/youtube.svg"></a>
            </div> -->
        </div>
    </div>
</section>
