<nav id="topbar" class="navbar navbar-expand-md navbar-light in-nav">
    <div class="container-fluid h-100">
        <div class="web-header">
            <div class="toggler-wrapper in-nav">
                <a class="logo-icon" href="/"><img src="/img/logo.svg" width="64"><span>&nbsp;&nbsp;Finnie Wallet</span></a>
                <ul class="navigation-center-web">               
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="/earn/creators/" ><span></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/earn/developers/" ><span>Developers</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/resources/" ><span>Resources</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://koi.rocks/" target="_blank"><span>Leaderboard</span></a>
                    </li> -->
                </ul>
                <!-- <div class="menu-container">
                </div> -->
                <a class="nav-link download mobile-hidden" href="https://koii.network/" target="_blank">Koii Network</a>
                <a class="nav-link signup" href="https://chrome.google.com/webstore/detail/finnie/cjmkndjhnagcfbpiemnkdpomccnjblmj" target="_blank">Install Finnie</a>
                <button class="navbar-toggler ml-auto in-nav" type="button" data-toggle="collapse"
                    data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <i class="fa fa-bars nav-menu-icon" data-wow-delay=".1s"></i>
                </button>
            </div>
        </div>
        <div class="mobile-header">
            <div class="toggler-wrapper in-nav">
                <a class="logo-icon" href="/"><img src="/img/logo.svg" width="64"></a>
      
                <a class="nav-link signup" href="https://chrome.google.com/webstore/detail/finnie/cjmkndjhnagcfbpiemnkdpomccnjblmj" target="_blank">Install Finnie</a>
            </div>          
</nav> 

